

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Sansita", sans-serif;
  font-size: 18px;
  background-color: #fff;
}

body {
  display: flex;
  flex-direction: column;
}


body.dark-mode {
  color: #fff;
}

body.dark-mode input.MuiInputBase-input {
  background-color: #333;
  color: #fff;
}

body.dark-mode label.MuiInputLabel-root {
  color: #fff;
}

body.dark-mode span.MuiFormHelperText-root {
  color: #fff;
}

.MuiTypography-root {
  font-family: "Sansita", sans-serif;
}